<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>
    <%if(title=='Generate Invoice' ){%>
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="../static/js/script.js" defer></script>
        <!-- <script src="https://cdn.tailwindcss.com"></script> -->
        <%}else if(title=='Searched Invoice' || title=='Result' ){%>
            <link rel="stylesheet" href="../static/css/invoice.css">

            <script src="../static/js/invoice.js" defer></script>
            <%}%>
                <link rel="stylesheet" href="../static/css/util.css">

</head>

<body>
    <%-body%>
</body>

</html>