@media print {
    .submit {
        visibility: hidden;
    }

}

* {
    margin: 0;
    padding: 0;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: orange; */
}

.child {
    border: 2px solid black;
    /* background: green; */
    height: 60rem;
    width: 44rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 44rem;
    height: 12rem;
    border-bottom: 2px solid black;
}

.info {
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: row-reverse;
}

.info ul {
    /* background-color: blue; */
    width: 25rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#one {
    text-decoration: underline;
    font-size: 1.5rem;
}

#two {
    font-size: 1.2rem;
}

.heading {
    height: 5rem;
    width: 43rem;
    /* background-color: burlywood; */
    display: flex;
    /* justify-content: center; */
}

.name {
    height: 5rem;
    width: 44rem;
    /* background-color: gold; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#logo-name {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    /* background-color: aqua; */
    width: inherit;
    height: 3rem;
}

.name img {
    width: inherit;
    background-color: red;
}

.about {
    /* background-color: pink; */
}

.address {
    height: 3rem;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid;
}

.address p {
    padding: 3px;
    font-size: .9rem;
    border: 2px solid black;
    border-radius: 10px;
}

.numbers {
    width: inherit;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-sections {
    font-size: .9rem;
}

.section-one {
    width: 44rem;
    height: 10rem;
}

.section-one {
    /* background-color: beige; */
}

.grid-div {
    /* border: 1px solid; */
    /* background-color: aliceblue; */
    height: 2rem;
    display: grid;
    grid-template-columns: 7rem 15rem 11rem 11rem;
}

.grid-div-two {
    display: grid;
    height: 2rem;
    /* background-color: black; */
    grid-template-columns: 7rem 9rem 4rem 2rem 11rem 11rem;
}

.grid-div-three {
    display: grid;
    height: 2rem;
    /* background-color: black; */
    grid-template-columns: 7rem 9rem 4rem 2rem 7rem 9rem 4rem 2rem;
}

.grid-div div {
    padding-left: 3px;
    display: flex;
    align-items: center;
}

.grid-div-two div {
    padding-left: 3px;
    display: flex;
    align-items: center;
}

.grid-div-three div {
    padding-left: 3px;
    display: flex;
    align-items: center;
}

.grid {
    height: 2rem;
    display: grid;
    grid-template-columns: 22rem 11rem 11rem;
}

.grid div {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    height: 2rem;
    padding-left: 3px;
}

input {
    height: 1.5rem;
    /* text-transform: uppercase; */
    /* border: none; */
    border: none;
}

p {
    text-transform: uppercase;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.textarea {
    width: 22rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.section-two {
    /* background-color: blue; */
    width: 44rem;
    height: 12.5rem;
}

.details {
    height: 2rem;
    width: 44rem;
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: 22rem 22rem;

}

.bill,
.consignee {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.consignee {
    width: 22rem;
}

.bill-input {
    width: 44rem;
    height: 4.5rem;
    /* background-color: darkblue; */
    display: grid;
    grid-template-columns: 22rem 22rem;
}

.bill-input>div>p {
    /* background-color: green; */
    word-break: break-word;
}

.bill-input div b {
    margin: auto;
}

.btp,
.doc {
    height: inherit;
    /* background-color: pink; */
    display: flex;
    align-items: center;
}

.textarea {
    resize: none;
    height: 60px;
    border: none;
}

.pan-gst {
    /* border: 1px solid; */
    /* background-color: aliceblue; */
    height: 2rem;
    display: grid;
    grid-template-columns: 7rem 15rem 7rem 15rem;
}

.pan-gst div {
    display: flex;
    align-items: center;
    padding-left: 3px;
}

.location {
    width: 22rem;
    height: 2rem;
    /* background-color: grey; */
    display: flex;
}

.location-one {
    /* width: 21.875rem; */
    height: inherit;
    /* background-color: yellow; */
    display: flex;
}

.location-two {
    height: inherit;
    /* width: 21.875rem; */
    /* background-color: violet; */
    display: flex;
}

.section-three {
    width: 44rem;
    /* background-color: brown; */
    height: 16rem;
}

.main-bill {
    width: 44rem;
    height: 16rem;
    /* background-color: chartreuse; */
}

.about-product {
    width: 44rem;
    height: 2rem;
    /* background-color: aquamarine; */
    display: flex;
}

.about-product div {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-product div p {
    /* text-align: center; */
}

.total-amount-before-tax {
    width: 44rem;
    height: 2rem;
    /* background-color: aqua; */
    display: flex;
    /* justify-content: center; */
}

.total-amount-before-tax div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bank {
    height: 2rem;
    width: 44rem;
    /* background-color: aliceblue; */
    display: flex;
}

.bd {
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty {
    width: 22rem;
}

.bank-details {
    width: 44rem;
    height: 6rem;
    /* background-color: cyan; */
    display: flex;
}

.bank-name div {
    width: 10rem;
    height: 1.4rem;
}

.bank-names-details div {
    width: 10rem;
    height: 1.4rem;
    display: flex;
    justify-content: center;
}

.sign,
.for {
    width: 12rem;
    height: 6rem;
    /* background-color:darkturquoise; */
}

.proprietor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    /* font-size: 1.1rem; */
}

.submit {
    /* background-color: red; */
    /* height: 3rem; */
    width: 44rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:700px) {
    body {
        width: fit-content;
    }
}