.border-bottom {
    border-bottom: 2px solid;
}

.border-right {
    border-right: 2px solid;
}

.two {
    width: 1.875rem;
}

.four {
    width: 3.875rem;
}

.five {
    width: 4.875rem;
}

.six {
    width: 5.875rem;
}

.seven {
    width: 6.875rem;
}

.nine {
    width: 8.875rem;
    /* width:9rem; */
}

.eleven {
    width: 10.875rem;
}

.fifteen {
    width: 15rem;
}

.sixteen {
    width: 15.875rem;
}

.eighteen {
    width: 17.875rem;
}

.twenty-two {
    width: 21.875rem;
}